:root{
    --text: #15161e;
    --background: #ebe1c5;
    --primary: #439004;
    --secondary: #54412a;
    --accent: #fdfded;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    margin: auto;
}

.header-container{
    width: 50%;
}

.nav-list{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-list i{
    font-size: 50px;
}

.nav-list li{
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 2 0 15%;
}

.nav-list li a{
    padding: 10px;
}

.nav-list li img{
    width: 70px;
    height: 70px;
    border: 1px solid black;
}

body {
    background-color: var(--secondary);
    max-width: 1600px;
    margin: auto;
}

.section {
    background-color: var(--background);
    border-radius: 2rem;
    padding: 2rem;
    margin: 2rem;
    display: flex;
}

.section-heading{
    display: flex;
    background-color: var(--accent);
    width: 25%;
    padding: 1rem;
}

.section-content{
    display: flex;
    border-color: var(--text);
    padding: 1rem;
}

.skip-link {
    background: #e77e23;
    height: 30px;
    left: 50%;
    padding: 8px;
    position: absolute;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s, opacity 0,2s;
  }
  
.skip-link:focus {
    opacity: 1;
    transform: translateY(0%);
}


#sticky-nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
}

.sticky-nav-list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    display: none;
}

.sticky-nav-list li{
    width: calc(100/7);    
    display: flex;
    align-items: center;
}